# LaTeX stuff
build/
*.aux
*.log
.texpadtmp/
*.acn
*.glo
*.glsdefs
*.out
*.slo
*.toc
*.xdy
*.xref
*.out.ps
*.dvi
*.4tc
*.4ct

# Emacs junk
auto/
ltxpng/

# Python stuff
*.py[cod]

# Temps
*.*~
*.bak
cover/*
raw/*
thesis.pdf

.DS_Store
